@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Poppins', sans-serif;
}

a {
  color: #000;
  text-decoration: none;
}

ul {
  list-style: none;
}

li {
  line-height: 2.2;
}

.table_form {
  border-collapse: collapse;
  width: 95%;
}

.table_class_course {
  width: 95%;
}

table {
  border-collapse: collapse;
  width: 100%;
}

table tbody td,
table th {
  word-break: break-all;
  border: 1px solid #dddddd;
  text-align: center;
  padding: 8px;
}

table tbody td input {
  width: 100%;
  font-size: 100%;
}

table tbody td select {
  width: 100%;
  font-size: 100%;
}

table tbody tr td button {
  width: 100px;
}

.edit_row {
  cursor: pointer;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.menu-btn {
  top: 25px;
  left: 25px;
  cursor: pointer;
  position: fixed;
  z-index: 3;
}

.menu-bar {
  background: #000;
  width: 28px;
  height: 3px;
  margin: 0 0 5px 0;
  transition: all .3s ease-out;
}

.menu-btn.close .menu-bar:nth-child(1) {
  transform: rotate(-45deg) translate(-5px, 6px);
}

.menu-btn.close .menu-bar:nth-child(2) {
  opacity: 0;
}

.menu-btn.close .menu-bar:nth-child(3) {
  transform: rotate(45deg) translate(-5px, -7px)
}

.content {
  display: flex;
  flex-direction: column;
}

.side-bar {
  visibility: hidden;
  transform: translate3d(-100%, 0, 0);
  transition: all 0.7s ease-out;
  display: flex;
  flex-direction: column;
  position: fixed;
  left: 0;
}

.side-bar.show {
  visibility: visible;
  transform: translate3d(0, 0, 0);
  height: 100vh;
  width: 21.6vw;
}

.profile {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 25vh;
  background: rgb(35, 127, 155);
  color: #fff;
}

.profile .portrait {
  width: 150px;
  height: 150px;
  background: url(./assets/images/gunsel-logo.png);
  border-radius: 50%;
  background-size: cover;
}


.description {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

.description .view-profile .view a {
  background: rgb(114, 66, 159);
  color: #fff;
  font-size: 12px;
  padding: 5px 15px;
  border-radius: 15px;
  border: #fff 1px solid;
}

.description .view-profile {
  margin-top: 25px;
}

.side-links {
  height: 75vh;
  display: flex;
  flex-direction: column;
  margin-top: 55px;
  width: 100%;
}

.side-link {
  display: flex;
  align-items: center;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 25px;
  margin-bottom: 10px;
  font-size: 13px;
  cursor: pointer;
  background: #333;
  color: #fff;
}

.side-link:hover {
  background: rgb(35, 127, 155);
}

.options {
  transition: all 0.7s ease-out;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background: rgb(244, 236, 255);
  position: absolute;
  right: 0;
}

.options.show {
  width: 78.4vw;
  transform: translate3d(0, 0, 0)
}

.options .topNav {
  width: 90%;
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  margin-top: 3rem;
  margin-bottom: 5rem;
}

.options ul {
  display: flex;
}

.topNav .btn_add {
  background-color: #4CAF50;
  border: none;
  cursor: pointer;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: 700;
  border-radius: 5px;
  margin-right: 2em;
}

.btn {
  padding: 10px 20px;
  border: 1px solid #000;
  border-radius: 5px;
  background: #000;
  color: #fff;
  font-size: 16px;
  font-weight: 700;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.options .home {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.options .home .wise {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: rgb(239, 230, 239);
  width: 37vw;
  height: 37vh;
  margin-left: 1.5vw;
  margin-right: 1.5vw;
  border-radius: 10px;
  box-shadow: #333 0px 3px 25px -18px;
}

.be {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 25vw;
  height: 25vh;
}

.be p {
  font-size: xx-large;
}

.be i {
  font-size: 4rem;
  color: rgb(52, 52, 133);
}

.options .home .smart {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 37vw;
  height: 37vh;
  background: rgb(237, 237, 237);
  border-radius: 10px;
  box-shadow: #333 0px 3px 25px -18px;
}

.options .main-title {
  margin-top: -50px;
  padding-bottom: 20px;
  margin-bottom: 10vh;
  font-size: 2rem;
  font-weight: bold;
  box-shadow: #333 -5px 0px 20px -20px;
}

.options .add {
  margin-top: 7vh;
  margin-left: 1.5vw;
  margin-right: 1.5vw;
  padding: 10px 70px;
  padding-bottom: 20px;
  margin-bottom: 20vh;
  font-size: 2rem;
  font-weight: bold;
  box-shadow: #333 -5px 0px 20px -20px;
}

.options .content {
  width: 70%;
  margin: 0 auto;
}

.form-group {
  margin-bottom: 10px;
}

.form-group input,
.form-group textarea,
.form-group select {
  width: 100%;
  padding: 10px;
  border: 1px solid #e6e6e6;
  border-radius: 5px;
  margin-bottom: 10px;
  font-family: inherit;
}

.form-group label {
  text-align: left;
  display: block;
  margin: 0 0 5px 3px;
}

.btn-block {
  width: 100%;
  margin-bottom: 20px;
}

.loadingSpinnerContainer {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 5000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loadingSpinner {
  width: 64px;
  height: 64px;
  border: 8px solid;
  border-color: #000 transparent #555 transparent;
  border-radius: 50%;
  animation: spin 1.2s linear infinite;
}


@media screen and (max-width: 1020px) {

  .options .home {
    height: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
  }

  .options .home .wise,
  .options .home .smart {
    width: 37vw;
    height: 27vh;
  }

  .options .main-title {
    margin-bottom: 7vh;
  }

  table tbody tr td button {
    font-size: 13px;
    width: 80px;
  }

  .options .topNav ul li {
    margin-right: 1em;
  }

  .topNav .btn_add,
  .btn {
    padding: 5px 14px;
  }
}

@media screen and (max-width: 880px) {
  .profile .portrait {
    width: 110px;
    height: 110px;
  }

  .options .main-title {
    font-size: 1.5rem;
  }

  table tbody td,
  table th {
    font-size: 14px;
  }

  table tbody tr td button {
    font-size: 10px;
    width: 50px;
  }

  .options .topNav ul li {
    margin-right: 0.4em;
  }

  .topNav .btn_add,
  .btn {
    padding: 4px 10px;
    font-size: 14px;
  }
}

@media screen and (max-width: 724px) {
  .options .main-title {
    font-size: 1.2rem;
    margin-bottom: 5vh;
  }

  table tbody td,
  table th {
    font-size: 12px;
  }

  table tbody tr td button {
    font-size: 7px;
    width: 30px;
  }

  .options .home {
    height: 50%;
    margin-top: 0px;
  }

  .options .home .wise,
  .options .home .smart {
    width: 37vw;
    height: 27vh;
  }

  .be p {
    font-size: large;
  }

  .be i {
    font-size: 3rem;
  }

  .topNav .btn_add,
  .btn {
    padding: 4px 10px;
    font-size: 12px;
  }
}

@media screen and (max-width: 599px) {
  .profile .portrait {
    width: 80px;
    height: 80px;
  }

  .side-link {
    padding-left: 7px;
    font-size: 10px;
  }

  .options .main-title {
    font-size: 1rem;
    margin-bottom: 3vh;
  }

  table tbody td,
  table th {
    font-size: 9.5px;
  }

  table tbody tr td button {
    font-size: 6px;
    width: 20px;
  }

  .topNav .btn_add,
  .btn {
    padding: 3px 5px;
    font-size: 9.5px;
  }
}

@media screen and (max-width: 427px) {
  .profile .portrait {
    width: 70px;
    height: 70px;
  }

  .options .main-title {
    font-size: 1rem;
    margin-bottom: 1vh;
  }

  table tbody td,
  table th {
    font-size: 7.6px;
  }

  table tbody tr td button {
    font-size: 4px;
    width: 20px;
  }

  .topNav .btn_add,
  .btn {
    padding: 3px 5px;
    font-size: 7.6px;
  }

  .options .home {
    height: 35%;
    margin-top: 0px;
  }

  .options .home .smart,
  .options .home .wise {
    width: 30vw;
    height: 15vh;
  }

  .be p {
    font-size: small;
  }

  .be i {
    font-size: 2.5rem;
  }
}

@media screen and (max-width: 366px) {
  .profile .portrait {
    width: 60px;
    height: 60px;
  }

  .side-link {
    padding-left: 7px;
    font-size: 8px;
  }

  .options .main-title {
    font-size: 0.8rem;
    margin-bottom: 0.3vh;
  }

  table tbody td,
  table th {
    font-size: 5.5px;
  }

  table tbody tr td button {
    font-size: 3px;
    width: 15px;
  }

  .topNav .btn_add,
  .btn {
    font-size: 5.5px;
  }
}

@media screen and (max-width: 300px) {
  .profile .portrait {
    width: 50px;
    height: 50px;
  }

  .options .main-title {
    font-size: 0.7rem;
    margin-bottom: 0.3vh;
  }

  table tbody td,
  table th {
    font-size: 4.5px;
  }

  table tbody tr td button {
    font-size: 3px;
    width: 15px;
  }

  .topNav .btn_add,
  .btn {
    font-size: 4.5px;
  }
}